body {
  margin: 0;
  background: linear-gradient(to right, rgb(86, 5, 110), rgb(179, 56, 216));
}

main {
  width: 60%;
  margin: auto;
}

.navbar {
  background: linear-gradient(
    to right,
    rgb(115, 10, 129),
    rgba(157, 9, 187, 0.74)
  );
  /* background-color: #333; */
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: rgb(179, 91, 8);
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }

  .navbar {
    display: block;
  }

  .nav-header {
    justify-content: left;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  nav ul li {
    margin: 0;
  }
}

/* header styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.image-bg {
  background-color: transparent;
  color: rgb(153, 12, 146);
  padding: 20px;
  box-sizing: border-box;
  width: 260px;
  height: 260px;
  transform: rotate(-72deg);
}

.image-bg-parent {
  background: url("https://avatars.githubusercontent.com/u/183338040?v=4");
  padding: 20px;
  box-sizing: border-box;
  width: 260px;
  height: 260px;
  transform: rotate(72deg);
  margin-right: 50px;
}

.header-rightside img {
  border-radius: 50%;
  transform: translateY(-260px) rotate(-72deg);
}

.header-leftside ul {
  padding: 0;
  display: flex;
  margin-top: 60px;
}

.header-leftside ul li {
  list-style: none;
  margin-right: 5px;
}

.header-leftside ul li a {
  text-decoration: none;
  color: black;
}

.header-leftside ul li a i {
  font-size: 20px;
}
h1 {
  color: white;
  margin-left: 80px;
}

#about {
  padding: 60px 10%;
  background: linear-gradient(
    to right,
    rgb(80, 7, 102),
    rgba(157, 9, 187, 0.74)
  );
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(165, 159, 159, 0.1);
  margin: 50px auto;
  max-width: 900px;
}

#about p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

.sub-title {
  color: #ff7b00;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  margin-left: 78px;
}
.highlight {
  color: #ff7b00;
  font-weight: bold;
}

.section-title {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 30px;
  border-bottom: 5px solid steelblue;
  width: 15%;
  padding-bottom: 5px;
  margin: auto;
}

.skill-container {
  background-color: rgb(12, 64, 66);
  width: 60%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  border-radius: 20px;
  padding: 10px;
}

.skill-box {
  background-color: rgba(255, 255, 255, 0.175);
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  border: 3px solid rgb(30, 90, 92);
  transition: border 1s;
}

.skill-box:hover {
  border: 3px solid rgb(255, 255, 255);
}

.skill-box img {
  width: 60px;
  height: 60px;
}

.experience-box {
  background-color: rgb(11, 7, 114);
  display: flex;
  align-items: top;
  margin: 10px auto;
  border-radius: 10px;
  width: 60%;
}

.experience-box:hover {
  border: 2px solid rgb(74, 69, 225);
}

.experience-left-section {
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
}

.experience-left-section img {
  width: 70%;
  height: auto;
  border-radius: 5px;
  margin: auto;
  display: block;
}

.experience-wright-section {
  width: 80%;
}

.experience-wright-section h1,
.education-wright-section h1 {
  font-size: 25px;
  margin-top: 35px;
  line-height: 2px;
  color: bisque;
}

.experience-right-section h3,
.education-wright-section h3 {
  font-size: 20px;
  margin-top: 30px;
  line-height: 2px;
  color: white;
}

.experience-wright-section p {
  font-size: 15px;
  margin-top: 25px;
  line-height: 2px;
  color: blanchedalmond;
}

.experience-wright-section ul {
  padding: 14px;
  margin-top: -15px;
}

.experience-wright-section ul li {
  color: lightgray;
}

.experience-wright-section ul li::marker {
  color: black;
}

.education {
  width: 80%;
  margin: 20px auto;
  display: flex;
  gap: 20px;
}

.education-box {
  width: 50%;
  display: flex;
  align-items: top;
  border-radius: 10px;
  background-color: rgb(74, 69, 225);
}

.education-left-section {
  width: 30%;
  box-sizing: border-box;
}

.education-left-section img {
  width: 70%;
  height: auto;
  border-radius: 5px;
  margin: 20px auto;
  display: block;
}

.education-wright-section {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
}

.education-wright-section p {
  font-size: 15px;
  color: blanchedalmond;
}

.education-box:hover {
  border: 2px solid rgb(173, 171, 222);
}

.contact-form {
  width: 35%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}

.contact-form label {
  color: white;
  font-size: 18px;
}

.contact-form input,
textarea {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgb(255, 255, 255);
}

.contact-form input[value="Send Message"] {
  background-color: rgb(74, 69, 225);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form input[value="Send Message"]:hover {
  background-color: white;
  color: rgb(74, 69, 225);
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid rgb(74, 69, 225);
}
