body {
  margin: 0;
  background: linear-gradient(to right, rgb(86, 5, 110), rgb(179, 56, 216));
}

main {
  /* width: 60%; */
  margin: auto;
}

.navbar {
  background: linear-gradient(to right, rgb(107, 7, 138), rgba(157, 9, 187, 0.74));
  /* background-color: #333; */
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: rgb(119, 180, 180);
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }

  .navbar {
    display: block;
  }

  .nav-header {
    justify-content: left;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  nav ul li {
    margin: 0;
  }
}

/* header styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.image-bg {
  background-color: transparent;
  color: rgb(153, 12, 146);
  padding: 20px;
  box-sizing: border-box;
  width: 260px;
  height: 260px;
  transform: rotate(-72deg);
}

.image-bg-parent {
  background: url("https://avatars.githubusercontent.com/u/183338040?v=4");
  padding: 20px;
  box-sizing: border-box;
  width: 260px;
  height: 260px;
  transform: rotate(72deg);
  margin-right: 50px;
}

.header-rightside img {
  border-radius: 50%;
  transform: translateY(-260px) rotate(-72deg);
}

.header-leftside ul {
  padding: 0;
  display: flex;
  margin-top: 60px;
}

.header-leftside ul li {
  list-style: none;
  margin-right: 5px;
}

.header-leftside ul li a {
  text-decoration: none;
  color: black;
}

.header-leftside ul li a i {
  font-size: 20px;
}
h1{
  color: white;
  margin-left: 80px;
}

#about {
  padding: 60px 10%;
  background: linear-gradient(to right, rgb(80, 7, 102), rgba(157, 9, 187, 0.74));  
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(165, 159, 159, 0.1);
  margin: 50px auto;
  max-width: 900px;
}

#about p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}
